/* NAVIGATION BAR STYLING*/
.nav-tabs {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-header a {
	color: lightblue;
	font-size: 40px;
	font-style: italic;
	text-decoration: none;
}

.navbar-header a:hover {
	color: lightblue;
    text-decoration: none;
}
.navbar-header a:link {
	color: lightblue;
    text-decoration: none;
}

.navbar-header a:visited {
	color: lightblue;
    text-decoration: none;
}

.navbar-header a:hover {
	text-decoration: none;
}

.navbar-header a:active {
	color: lightblue;
    text-decoration: none;
}

/* search area*/
.search-query {
	margin-bottom: 10px;
	padding: 15px;
}

/*sort area*/
.sort-form {
	margin-bottom: 10px;
	padding: 15px;
}

/* add button*/
.addButton {
	margin-top: 10px;
	padding: 15px;
	width: 160px;
	height: 50px;
	margin-left: 10px;
}

/* BROTHERS HOME PAGE STYLING*/
.brothers {
	list-style: none;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.brothers li {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 15px 20px 20px 10px;
}

.name-link {
	color: darkblue;
	font-size: 20px;
}

.clickDetails {
	width: 160px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* USED IN BOTH PAGES*/
.size-button {
	width: 160px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

/*SECOND PAGE STYLING*/

.details {
    padding-top: 30px;
    padding-bottom: 10px;
}

.listing-form-row {
	padding-bottom: 10px;
}

.md-button {
	background-color: #ffcccc;
}

.text-info {
	font-size: 30px;
}

/* top & bottom spacing*/
.spacing {
  padding-top: 10px;
  padding-bottom: 10px
}

/* limit the width of the input body*/
.addBrotherBody {
	margin-bottom: 10px;
	margin-top: 10px;
}

.caption {
	text-align : center;
	font-size: 40px;
	background-color: lightblue;
}

.container-fluid {
	background-color: grey;
	margin-bottom: 20px;
}
