<form>
<div class="row details">
	<div class="col-sm-4">
		<div class="thumbnail">
		<img  ng-src="{{brother.imageUrl}}" />
	   </div>
 	</div>

	<div class="col-sm-5">
	<ul class="list-group">
	  <li class="list-group-item list-group-item-success"><h1> Brother</h1> </li>
	  <li class="list-group-item list-group-item-info"><b> Name </b>  &nbsp{{brother.name}} </li>
	  <li class="list-group-item list-group-item-info"><b> Email </b> &nbsp{{brother.email}}</li>
	  <li class="list-group-item list-group-item-info"><b>Age </b>&nbsp {{brother.age }}<br/></li>
	  <li class="list-group-item list-group-item-info"><b>Number of brothers </b> &nbsp {{brother.listBro.length}}</li>
	  <li class="list-group-item list-group-item-info"><b>Friend name </b>&nbsp {{brother.friend.name}}</li>
	  <li class="list-group-item list-group-item-info"><b>Favorite brother </b> &nbsp {{favoriteBrother.name}}</li>
	</ul>
	</div>
	<div col-sm-3>
		 <!-- A button to edit brother details-->
		<button class="size-button btn btn-info" 
		ng-click="editBrother =! editBrother"
		ng-show="!addBrother" >EDIT BROTHER </button><br/><br/>

		<div ng-cloak>
		<md-content>
			<md-button 
	    	type="delete" 
	    	class="size-button md-warn md-raised"
	    	ng-click="deleteBrother($event,brother)"
	    	flex="100"
	    	flex-gt-md="auto"
	    	ng-show="!addBrother">DELETE BROTHER
	        </md-button>
	    </md-content>
        </div>
    </div>
</div>

 <!--SHOW THE EDIT WINDOW WHEN EDIT BUTTON CLICKED BEGIN-->
			    <!-- EDIT A NEW OBJECT__BEGIN-->



</button>
<!-- <div ng-show="editBrother"> -->
<div ng-show="editBrother">
	<h3> EDIT BROTHER </h3>
	<div class="col-sm-3">
		<div class="input-group">
			<span class="input-group-addon" for="name">Full name</span>
			<input 
				type="firstname" 
				class="form-control" 
				id="firstname" 
				placeholder="Enter full name"
				ng-model="brother.name">
		</div>			
	</div>

	<div class="col-sm-3">
		<div class="input-group">
			<span class="input-group-addon" for="age">Age</span>
			<input 
				type="age" 
				class="form-control" 
				id="age" 
				placeholder="Enter age"
				ng-model="brother.age">
		</div>
    </div>
        

	<div class="col-sm-3">
		<div class="input-group">
			<span class="input-group-addon" for="email">Email</span>
			<input 
			 	type="email" 
			 	class="form-control" 
			 	id="email" 
			 	placeholder="Enter email"
			 	ng-model="brother.email">
		</div>
    </div>

    <div class="col-sm-3">
		<div class="input-group">
			<span class="input-group-addon" for="friend"><b>Friend</b></span>
			<select
				type="friend" 
				class="form-control" 
				id="friend" 
				default="select friend"
				ng-model="brother.friend"
				ng-options="brother.name for brother in bros">
			</select>
		</div>
   	</div>
    
<br/>
<pre> {{editedBrother | json}}</pre>    

     <button 
    	type="moreBro" 
    	class="size-button btn btn-info"
    	ng-click="addABroToBro =! addBrother" 
		ng-show="!addABroToBro">ADD BROTHERS
    </button>

     <button 
    	type="update" 
    	class="size-button btn btn-success"
    	ng-click="favoriteBrother(brother)"
    	ng-click=""
    	ng-show="">FAVORITE BROTHER
    </button>

    <button 
    	type="update" 
    	class="size-button btn btn-info"
    	ng-click="saveEditedBrother(brother)">UPDATE BROTHER
    </button>

    <button class="size-button btn btn-danger" 
		ng-click="unfriend(editedBrother)" 
		ng-disabled ="yesFriend"
		ng-show="editBrother">UNFRIEND <br/>
	</button>

   

    <button class="size-button btn btn-warning" 
		ng-click="editBrother =! editBrother" 
		ng-show="editBrother">CLOSE
	</button>
</div></br>


    <!--Window to add more brothers-->
  <!-- TO BE CHANGED-->
    
    <div class="row" ng-show="addABroToBro">
    	

    	<div class="col-sm-4">
    	<div class="input-group">
			
			<span class="input-group-addon" for="friend"><b>More Bro</b></span>
			<select
				type="brother" 
				class="form-control" 
				id="friend" 
				default="select bro"
				ng-model="nextBro"
				ng-options="brother.name for brother in bros">
			</select>
		</div>
   	</div>
   	<div>
   		<div class="col-sm-4">
   		<button class="size-button btn btn-primary" 
		ng-click="updateListBro(editedBrother)" 
		ng-show="addABroToBro">SELECT
		</button>
		</div>
   	</div>
   	<div>
   		<div class="col-sm-4">
   		<button class="size-button btn btn-warning" 
		ng-click="addABroToBro =! addABroToBro" 
		ng-show="addABroToBro">CLOSE
		</button>
		</div>
   	</div>

   </div>
    <!-- Window to add more brothers-->

</div>
</div>
</form>	
<!-- EDIT A NEW OBJECT__BEGIN-->
<!--SHOW THE EDIT WINDOW WHEN EDIT BUTTON CLICKED END-->

<!-- add/edit a brother details-->
<!--<brother-manage ng-if="addBrother"></brother-manage> -->

       