<div class="container-fluid">
<form editable-form name="editableForm" onaftersave="updateBrother(brother)">
	<div style="margin-top: 4px; margin-bottom:4px;">



	<div class="row details">
		<!-- IMAGE-->
		<div class="col-sm-4">
			<div class="thumbnail">
				<img ng-src="{{brother.imageUrl}}" />
		    </div>
		   <div>
		   	<!-- New brother-->
		  		<button 
					class="size-button btn btn-primary" 
			        ng-click="addBrothers =! addBrothers" 
			        ng-show="!addBrothers" >NEW BROTHER
				</button>
		   </div>	
	 	</div>
		
		<!-- BROTHER INFO-->
		<div class="col-sm-8">
		<ul class="list-group">
		  <li class="list-group-item list-group-item-success"><h1> Brother</h1> </li>
		  <li class="list-group-item list-group-item-info" >     
		  		<div class="row">
		  			<div class="col-sm-6">
		  				<span><b> Name</b> </span> 
		  			</div> 
		  			<div class="col-sm-6">
		  				<span editable-text="brother.name">{{brother.name}} </span> 
		  			</div>
		  		</div>
		  </li>
		  <li class="list-group-item list-group-item-info">
		  		<div class="row">
		  			<div class="col-sm-6">
		  				<span><b> Email </b> </span>
		  			</div>
		  			<div class="col-sm-6">	
		  				<span editable-text="brother.email">{{brother.email}} </span>
		  			</div>
		  		</div>	
		  	</li>
		  <li class="list-group-item list-group-item-info">
		  		<div class="row">
		  			<div class="col-sm-6">
		  				<span><b>Age </b></span>
		  	        </div>
		  	        <div class="col-sm-6">
		  				<span editable-text="brother.age">{{brother.age}}</span>
		  		    </div>
		  	    </div>
		  </li>
		  <li class="list-group-item list-group-item-info">
		  		<div class="row">
			  		<div class="col-sm-6">
			  			<span><b>Friend name </b></span>
			  		</div>
			  		<div class="col-sm-6">
			  			<span editable-text="brother.friend.name">{{brother.friend.name}}</span>
			  		</div>
		  		</div>
		  </li>
		  <li class="list-group-item list-group-item-info">
		  		<div class="row">
		  			<div class="col-sm-6">
		  				<span><b>Best brother </b></span> 
		  			</div>
		  			<div class="col-sm-6">	
		  				<span editable-text="brother.bestBrother.name">{{brother.bestBrother.name}}</span>
		  			</div>
		  		</div>	
		  </li>
		  <li class="list-group-item list-group-item-warning">
		  	<!-- button to show form-->
		  	<button type="button"
		  			class="btn btn-info"
		  			ng-click="editableForm.$show()"
		  			ng-show="!editableForm.$visible">
		  			EDIT
		  	</button>
		  	
		  	<div ng-cloak ng-show="editableForm.$visible">
				<md-content>
				    <!-- button to save-->
		  			<md-button 
		  				type="submit"
			  			class="md-primary size-button md-raised"
			  			ng-disabled="editableForm.$waiting">SAVE
			  		</md-button>

			  		<!-- button to cancel -->
			  		<md-button type="button"
			  			class="md-warn size-button md-raised"
			  			ng-disabled="editableForm.$waiting"
			  			ng-click="editableForm.$cancel()">
			  			CANCEL
			  		</md-button>
			  		
			  		<!-- -->
			  		<md-button
			  			type="unfriend" 
				    	class="size-button md-raised md-warn" 
						ng-click="removeFriend(editedBrother)" 
						ng-disabled="editableForm.$waiting">
						UNFRIEND
					</md-button> 


			  		<!-- button to delete -->
			  		<md-button 
				    	type="delete" 
				    	class="size-button md-danger md-raised"
				    	ng-click="deleteBrother($event,brother)"
				    	flex="100"
				    	flex-gt-md="auto"
				    	ng-disabled="editableForm.$waiting">
				    	DELETE
				    </md-button>

				    
		    	</md-content>
	       	</div>	
		  </li>
		</ul>
		</div>
	</div>

	</div>
	
	<!-- FIELDS TO ADD BROTHER -->
	<div ng-show="addBrothers" class="addBrotherBody">
		<h2 class="caption"> Input new details of a brother</h2>
		<div class="input-group spacing">
			<span class="input-group-addon" for="name"><b>Name</b></span>
			<input 
				type="firstname" 
				class="form-control" 
				id="firstname" 
				placeholder="Enter full name"
				ng-model="newBrother.name" />
		</div>			
			

			
		<div class="input-group spacing">
			<span class="input-group-addon" for="email"><b>Email</b></span>
			<input 
			 	type="email" 
			 	class="form-control" 
			 	id="email" 
			 	placeholder="Enter email"
			 	ng-model="newBrother.email" />
		</div>
		   

		   
		<div class="input-group spacing">
			<span class="input-group-addon" for="age"><b>Age</b></span>
			<input 
				type="age" 
				class="form-control" 
				id="age" 
				placeholder="Enter age"
				ng-model="newBrother.age" />
		</div>
  
		   
		<div class="input-group spacing">
			<span class="input-group-addon" for="nameFriend"><b>Name of friend</b></span>
			<input
				type="nameFriend" 
				class="form-control" 
				id="nameFriend" 
				placeholder="Enter name of friend"
				ng-model="newBrother.friend.name"/>
		</div>

		<div class="input-group spacing">
			<span class="input-group-addon" for="emailFriend"><b>Email of friend</b></span>
			<input
				type="emailFriend" 
				class="form-control" 
				id="emailFriend"
				placeholder="Enter email of friend" 
				ng-model="newBrother.friend.email"/>
		</div>

		
		<div>
		    <button 
		    	type="brother" 
		    	class="size-button btn btn-info spacing"
		    	ng-click="updateListBrothers(newBrother)"> 
				ADD
		    </button>

	    	<button 
		    	class="size-button btn btn-warning spacing" 
				ng-click="addBrothers =! addBrothers">
				CANCEL
			</button>
		</div>
	</div>
	
	<!-- SHOW BROTHERS OF A BR0THER-->
	<table class="table table-hover brothers spacing" 
	  		 style="font-size:large" 
	  		 align="center"
	  		 ng-show="brother.listBrothers.length > 0">
	  <h2 class="caption">Brother can have many brothers</h2>	
	  <thead>
	  
	  <tr class="info" align="center">
	  	<td>
	    	<a href="#"
	    	ng-click="">
	    	<span style="font-size:14px;" class="glyphicon glyphicon-zoom-in">
	      	</span>
	      	</a>
	    </td>
	    <th>Name</th>
	    <th>Email</th>
	    <th>Age</th>
	    <th>Friend name</th>
	  </tr>
	  </thead>
	  <tbody>
	 <tr ng-click="bestBrother(brother)" ng-repeat="brother in brother.listBrothers | pagesFilter : currentPage : itemsPerPage">
	    <td><img src="{{brother.imageUrl}}"</td>
	    <td>{{brother.name}}</td>
	    <td>{{brother.email}}</td>
	    <td>{{brother.age}}</td>
	    <td>{{brother.friend.name}}</td>
	 </tr>
	 <!--<tr class="info" >
	  <td colspan="7"> -->
			 <!--<uib-pager
			   total-items="totalItems"
			   ng-model="currentPage"
			   items-per-page="itemsPerPage"
			   max-size="maxSize">
			</uib-pager -->			 
			<pagination  
			        total-items="totalItems" 
			        ng-model="currentPage" 
			        items-per-page="itemsPerPage"
			        max-size="maxSize">
   			</pagination>	
	  <!--</td>
	 </tr>-->
	 </tbody>
	</table>	
</form>	
</div>       