<div class="container-fluid">
	<div class="row">
		<!--create a search query -->
		<div class="col-md-6 search-query">
			<div class="input-group">
				<span class="input-group-addon">Search </span> 
				<input ng-model="search_text" class="form-control" 
				ng-model-options = "{debounce :500}"/>
			</div>
		</div>
		<!--create a sort area -->
		<div class="col-md-6 sort-form">
			<div class="input-group">
				<span class="input-group-addon">Sort by </span>
				<select ng-model="sort_value" class="form-control">
					<option value="name">Alphabetical</option> <!-- name-->
					<option value="email">Best brothers</option> <!-- best borthers-->
					<option value="age">Number of Borthers</option> <!-- number of brothers-->
				</select>
			</div>
		</div>
	</div>

   <div class="row">	
	<!-- Two buttons to show/hide add a brother panel-->
	<button class="size-button btn btn-info" 
	        ng-click="addBrother =! addBrother" 
	        ng-show="!addBrother" >ADD BROTHER
	</button>
	</div>
	
	<form editable-form class="form-horizontal" role="form">
			<div class="container">
				<div class="listing-form-row"> 
                    <!--SHOW THE ADD WINDOW WHEN ADD BUTTON CLICKED BEGIN-->
					<!-- ADD A NEW OBJECT __BEGIN-->	
				    <div ng-show="addBrother ">
						<h3> ADD NEW BROTHER </h3>
					    <div class="row">

							<div class="col-sm-3">
								<div class="input-group">
									<span class="input-group-addon" for="name"><b>Full name</b></span>
									<input 
										type="firstname" 
										class="form-control" 
										id="firstname" 
										placeholder="Enter full name"
										ng-model="newBrother.name">
								</div>			
							</div>
						
							<div class="col-sm-3">
								<div class="input-group">
									<span class="input-group-addon" for="age"><b>Age</b></span>
									<input 
										type="age" 
										class="form-control" 
										id="age" 
										placeholder="Enter age"
										ng-model="newBrother.age">
								</div>
						    </div>
						        

							<div class="col-sm-3">
								<div class="input-group">
									<span class="input-group-addon" for="email"><b>Email</b></span>
									<input 
									 	type="email" 
									 	class="form-control" 
									 	id="email" 
									 	placeholder="Enter email"
									 	ng-model="newBrother.email">
								</div>
						    </div>
						

							<div class="col-sm-3">
								<div class="input-group">
									<span class="input-group-addon" for="friend"><b>Friend</b></span>
									<select
										type="friend" 
										class="form-control" 
										id="friend" 
										default="select friend"
										ng-model="newBrother.friend"
										ng-options="brother.name for brother in bros">
									</select>
								</div>
						   	</div>
					   </div>
				        </br><pre> {{newBrother | json}}</pre>

					    <button 
					    	type="save" 
					    	class="size-button btn btn-info"
					    	ng-click="inputBrother(newBrother)"
					    	ng-show="!editBrother">SAVE
					    </button>

					    <button class="size-button btn btn-warning" 
			        			ng-click="addBrother =! addBrother" 
			        			ng-show="addBrother">CLOSE
						</button>
				    </div>
               </div>
			</div>   
			
		<div ng-show="bros.length > 0" 
			 class=""  
			 style="padding:2px;">
				<ul class="brothers">
		 			<li class="thumbnail" ng-repeat="brother in bros | filter:search_text | orderBy:sort_value track by $index">
			  			<a href="#!/brothers/{{brother.id}}" class="thumb">
			  			  <img ng-src="{{brother.imageUrl}}" alt="{{brother.name}}" />
			  			</a>
			 			<a href="#!/brothers/{{brother.id}}"><b>Name :</b> <i>{{brother.name}}</i></a>
		 			
		 				<!-- Two buttows to show/hide more details--><br/>
			 			<div ng-show="showDetails">
				 			<b ng-if="brother.email != null">Email :</b><i> {{brother.email}} &nbsp  &nbsp &nbsp &nbsp
				 			<b ng-if ="brother.listBro.length >0">Number of Brothers :</b><i>{{brother.listBro.length}}</i>&nbsp  &nbsp &nbsp &nbsp
				 			<b ng-if="favoriteBrothe.name != null">Fravorite Brother :</b><i>{{favoriteBrothe.name}}</i> 
			 			</div><br/>
	 			        <button class="size-button btn btn-info" 
	 			        ng-click="showDetails =! showDetails"
	 			        ng-show="!showDetails">VIEW DETAILS
				        </button> &nbsp &nbsp
				        <button class="size-button btn btn-warning" 
				        ng-click="showDetails =! showDetails"
				        ng-show="showDetails">CLOSE
				        </button>
					<li>
	 			</ul>

	                  <!--
				      <table class="table table-hover" 
				      		 style="font-size:large" align="center">
				      <thead>
				      <tr class="info" align="center">
				      	<td>
				        	<a href="#"
				        	ng-click="">
				        	<span style="font-size:14px;" class="glyphicon glyphicon-zoom-in">
				          	</span>
				          	</a>
				        </td>
				        <th>Name</th>
				        <th>Email</th>
				        <th>Age</th>
				        <th>Friend name</th>
				        <th>Best Brother</th>
				        <th>Number of Brothers</th>
				      </tr>
				      </thead>
				      <tbody>
				     <tr ng-click="selectBrother(brother)" ng-repeat="brother in bros | filter:search_text | orderBy:sort_value track by $index">
				        <td class="brother-thumbs"><img src="{{brother.imageUrl}}"</td>
				        <td>{{brother.name}}</td>
				        <td>{{brother.email}}</td>
				        <td>{{brother.age}}</td>
				        <td>{{brother.friend.name}}</td>
				        <td>{{favoriteBrother}}</td>
				        <td>{{brother.listBro.length}}</td>
				     </tr>
				     <tr class="info" >
				      <td align="center" colspan="7">
				     	<pagination 
					      		boundary-links="true" 
					      		ng-model="currentPage" 
					      		total-items="totalItems" 
					      		items-per-page="entryLimit"
					            ss="pagination-sm" 
					            previous-text="&lsaquo;" 
					            next-text="&rsaquo;" 
					            first-text="&laquo;" 
					            last-text="&raquo;" 
					            rotate="false"
					            max-size="4"
					            style="
					            	margin-top:0px;
					            	margin-bottom: 0px; 
					            	margin-left:2px;">
					      	</pagination> 
					      	<nav>
					      		<ul class="pager">
					      			<li class="disabled"><a href="#">Previous</a></li>
					      			<li class="disabled"><a href="#">Next</a></li>
					      		</ul>
					      	</nav>
					  </td>
				     </tr> 
				     </tbody>
				    </table>
	                 -->


		</div>	

   </form>
</div>	